{
  "extends": ["airbnb-base"],
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "implicit-arrow-linebreak": "off",
    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off"
  }
}
